body, html {scroll-behavior:smooth;}/* 스크롤 자연스럽게 넣는법 */
main {
    background-color: aqua;
    width:995px; margin:0 auto;
}
main .path {
    margin-bottom:26px;
}
main section {
    display:grid;
    grid-template-columns:630px 341px;
    justify-content:space-between;
}
main section .left_thumnail {
    background-color:yellow;
    display:flex;
}
main section .left_thumnail .small {}
main section .left_thumnail .small a {
    width:56px; height:56px;
    display:block;
    overflow:hidden;
    margin-bottom:10px;
    border-radius:5px;
}
main section .left_thumnail .small a img {}
main section .left_thumnail .big {
    width:calc(100% - (56px + 15px));
    margin-left:15px;
}
main section .left_thumnail .big img {
    width:100%; border-radius:5px;
}
main section .right_order {background-color:lime;}
main section .right_order > * {margin-bottom:25px; background-color:yellow;}
main section .right_order .brand {}
main section .right_order h1 {}
main section .right_order .review {}
main section .right_order .review .score {}
main section .right_order .review .score em {}
main section .right_order .review .num {}
main section .right_order .sale_price {}
main section .right_order .sale_price em {}
main section .right_order .sale_price del {}
main section .right_order > .price {}
main section .right_order > .price em {}
main section .right_order .benefit_delivery {
    overflow:hidden;
}
main section .right_order .benefit_delivery dt {
    background-color:pink;
    width:80px;
    float:left;
}
main section .right_order .benefit_delivery dd {
    background-color:skyblue;
    width:calc(100% - 80px);
    float:right;
    margin-bottom:10px;
}
main section .right_order .benefit_delivery dd em {}
main section .right_order .product_option {
    display:flex; flex-flow:column nowrap;
}
main section .right_order .product_option > * {
    border-radius:5px;
    outline:none;
    border:1px solid #aaa; padding-left:17px;
    line-height:44px;
}
main section .right_order .product_option select[name=color] {
    margin-bottom:25px;
    
}
main section .right_order .product_option select[name=color] option {}
main section .right_order .product_option select[name=size] {}
main section .right_order .product_option select[name=size] option {}

/* JS에서 select클릭 시 출력되는 영역 시작 */
main section .right_order .order_select {}
main section .right_order .order_select .list {}
main section .right_order .order_select .list .color {}
main section .right_order .order_select .list .size {}
main section .right_order .order_select .close {}
main section .right_order .order_select .order_num {}
main section .right_order .order_select .order_num #minus {}
main section .right_order .order_select .order_num[name$=num] {}
main section .right_order .order_select .order_num #plus {}
/* JS에서 select클릭 시 출력되는 영역 끝 */

main section .right_order .total {}
main section .right_order .total p {}
main section .right_order .total .price {}
main section .right_order .total .price em {}
main section .right_order .btn_group {
    display:flex;
    justify-content:space-between;
}
main section .right_order .btn_group * {
    width:165.5px; height:57px;
    border-radius:5px;
    border:1px solid #59AFFF;
    font-size:1.063rem;
}
main section .right_order .btn_group #cart_btn {
    background:#fff; color:#59AFFF
}
main section .right_order .btn_group #buy_btn {
    background:#59AFFF; color:#fff;
}
main .info {height:100vh;}
main #review {height:100vh; background-color:goldenrod}
main .board {height:100vh;}