body, html {background-color:#f5f5f5;}
main {
    max-width:1024px;
    min-width:320px;
    margin:0 auto;
    border:5px solid red;
    position:relative;
    padding:20px 0;
}
main .back {float:left;}
main .lang_group {
    float:right;
    position:relative;
}
main .lang_group #lang_select {}
main .lang_group .lang_open {
    position:absolute; right:0;
    border:1px solid #ddd; box-shadow:rgba(0,0,0,0.1);
    width:max-content; padding:12px;
    display:flex; flex-flow:column nowrap;
    background-color:#fff;
    border-radius:5px;
}
main .lang_group .lang_open a {
    font-size:0.85rem; line-height:2;
}
main .lang_group .lang_open .kr {}
main .lang_group .lang_open .en {}
main .lang_group .lang_open .ch1 {}
main .lang_group .lang_open .ch2 {}
main .login_wrap {
    max-width:400px;
    margin:0 auto;
    border:5px solid blue;
    clear:both;/* float와 곂쳐져있지  */
}
main .login_wrap h1 {
    width:135px; height:26px;
    background:url(../images/m_sp.png) -315px -104px;/* 포토샵에서 좌표를 확인한 후 음수(-)값을 이용하여 이미지가 보이도록 한다. */
    margin:30px auto 50px;/* 가운데 맟춤 */
}
main .login_wrap h1 a {
    width:100%; height:100%; display:block;/* 이미지 영역 전체가 선택영역으로 바뀜 */
}
main .login_wrap h1 a .blind {display:none;}
main .login_wrap .login_inner {}
main .login_wrap .login_inner #login_frm {}
main .login_wrap .login_inner #login_frm .id_pw_wrap {
    border:1px solid #ddd; border-radius:8px;
    display:flex; flex-flow:column nowrap;
    overflow:hidden;/* 모서리가 안에서만 보이도록 */
}
main .login_wrap .login_inner #login_frm .id_pw_wrap input {
    padding:17px 13px;
}
main .login_wrap .login_inner #login_frm .id_pw_wrap input[name=user_id] {
    border-bottom:1px solid #ddd;
}
main .login_wrap .login_inner #login_frm .error_msg {
    color:#f00; font-size:0.81rem; padding:10px 0; line-height:1.4;
}
main .login_wrap .login_inner #login_frm #login_btn {
    background:#aaa; color:#fff; width:100%; height:50px;
    border-radius:6px;
}
main .login_wrap .login_inner #login_frm .login_chk {
    margin:20px 0;
}
main .login_wrap .login_inner #login_frm .login_chk #chk_state {}
main .login_wrap .login_inner #login_frm .login_chk label {
    font-size:0.91rem;
}
main .login_wrap .login_inner #login_frm .login_chk label span {}
main .login_wrap .login_inner .search_join_wrap {text-align:center;}
main .login_wrap .login_inner .search_join_wrap a {font-size:0.91rem;}
main .login_wrap .login_inner .search_join_wrap a::before {
    position:absolute;
    margin:5px
}
main .login_wrap .login_inner .search_join_wrap a:last-child {color:#03c75a;}